@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121725;
  font-family: "Chivo", sans-serif;
  height: 100vh;
}

main::before {
  content: "";
  background-image: url("/assets/mobile/image-host.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
  z-index: -1;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .logo {
  margin: 62px 120.15px 57px 120px;
}

main h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #54e6af;
}

main h1 span {
  color: #ffffff;
}

main p {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #c2cbe5;
  margin-left: 24px;
  margin-right: 24px;
  opacity: 0.9;
}

main .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 33px 30px 38px 30px;
  width: 315px;
  opacity: 0.5;
}

main .images .spotify {
  width: 56px;
  height: 17px;
}

main .images .apple {
  width: 45px;
  height: 17px;
}

main .images .google {
  width: 73px;
  height: 11px;
}

main .images .pocket {
  width: 77px;
  height: 15px;
}

main form #error {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  margin-left: 107px;
  color: #fb3e3e;
  font-weight: 700;
  margin-top: -8px;
}

main form input {
  background: #2c344b;
  border-radius: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
  border: none;
  height: 46px;
  width: 327px;
  margin: 0px 24px 16px 24px;
}

main form input[type="text"]::-webkit-input-placeholder {
  color: #c2cbe5;
  opacity: 0.8;
}

main form input[type="text"]:-ms-input-placeholder {
  color: #c2cbe5;
  opacity: 0.8;
}

main form input[type="text"]::-ms-input-placeholder {
  color: #c2cbe5;
  opacity: 0.8;
}

main form input[type="text"]::placeholder {
  color: #c2cbe5;
  opacity: 0.8;
}

main form input[type="text"] {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
  padding-left: 32px;
}

main form input[type="submit"] {
  background-color: #54e6af;
  cursor: pointer;
  color: #121725;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
}

main form input[type="submit"]:hover {
  background-color: #b3ffe2;
}

@media only screen and (min-width: 768px) {
  main::before {
    opacity: 0;
  }
  main {
    background-image: url("/assets/tablet/image-host.jpg"),
      url("/assets/desktop/bg-pattern-dots.svg");
    background-position: top right, 30px 920px;
    background-repeat: no-repeat;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  main .logo {
    margin-top: 50px;
    margin-bottom: 152px;
    margin-left: 39px;
  }
  main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 635px;
    height: 510px;
    margin-top: 0px;
    background-color: #121725;
    margin-left: 39px;
  }
  main .content h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #54e6af;
    text-align: start;
    margin-top: 93px;
  }
  main .content p {
    text-align: start;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #c2cbe5;
    margin-left: 0;
    margin-top: 31px;
    width: 445px;
    margin-bottom: 0px;
    opacity: 0.8;
  }
  main .content .images {
    max-width: 536px;
    margin-left: 0;
    margin-top: 160px;
    opacity: 0.5;
  }
  main .content .images .spotify {
    width: 96px;
    height: 29px;
    margin-right: 40px;
  }
  main .content .images .apple {
    width: 78px;
    height: 29px;
    margin-right: 41px;
  }
  main .content .images .google {
    width: 125px;
    height: 18px;
    margin-right: 27px;
  }
  main .content .images .pocket {
    width: 129px;
    height: 26px;
  }
  main .content form {
    margin-left: -23px;
    position: absolute;
    top: 618px;
  }
  main .content form #error {
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    margin-left: 56px;
    color: #fb3e3e;
    font-weight: 700;
    margin-top: -8px;
  }
  main .content form input[type="text"] {
    height: 56px;
    width: 427px;
    font-weight: bold;
    opacity: 0.8;
  }
  main .content form input[type="submit"] {
    position: absolute;
    height: 48px;
    width: 162px;
    top: 5px;
    left: 260px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1024px) {
  main::after {
    content: url("/assets/desktop/bg-pattern-dots.svg");
    position: absolute;
    margin-top: 588px;
    margin-left: 1250px;
  }
  body {
    width: 1440px;
    height: 800px;
  }
  body main {
    background-image: url("/assets/desktop/image-host.jpg");
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: -39px;
  }
  body main .logo {
    margin-top: -28px;
    margin-left: 0px;
    padding-left: 165px;
  }
  body main .content {
    position: absolute;
    margin-left: 165px;
    margin-top: 131px;
  }
  body main .content .bcg {
    background-color: #121725;
    width: 760px;
  }
  body main .content .bcg h1 {
    margin-top: 88px;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
    width: 665px;
    height: 124px;
  }
  body main .content .bcg p {
    margin-top: 0px;
    width: 445px;
    height: 84px;
  }
  body main .content form {
    margin-top: -260px;
  }
}
/*# sourceMappingURL=style.css.map */
